footer {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 7px;
  }
  
  .topSecret {
    top: 0;
  }
  
  #secret {
    border-radius: 10px;
    font-size: 'handjet';
    color: #fff;
    border: none;
    padding: 10px;
    background-color: #a19e9e;
  }
  
  #secret:hover {
    background-color: #3e8544;
    color: #fff;
  }
  
  #toop {
    text-decoration: none;
    color: #fff;
  
  }
  
  #home {
    text-decoration: none;
    color: #fff;
  }
  
  #forHome {
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #a19e9e;
  
  }
  
  #forHome:hover {
    border-radius: 10px;
    padding: 10px;
    background-color: #3e8544;
  }
  
  #secretBtn {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #9f9c9c;
    color: #fff;
  }
  
  #wrong {
    font-size: 20px;
  }
  
  #wrong:hover {
    color: #3e8544;
  }
  
  #secretBtn:hover {
    background-color: #3e8544;
    color: #fff;
  }
  
  #passwordInput {
    border-radius: 5px;
    max-width: 200px;
    padding: 10px;
  }
  
  .modal {
    /* padding: 200px; */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  .modal-content {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fefefe;
    margin: 100px auto;
    max-width: 300px;
    border: 1px solid #888;
  }
  
  .modal-enter p{
    color: #000000;
  }
  
  .fa-xmark {
    padding: 10px 10px 10px 100px;
  
  }
  
  #withPalanggaBestMoments {
    display: none;
  
  }
  
  .topSecret {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #video-background {
    width: 100vw;
    object-fit: cover;
    /* Maintain video aspect ratio while covering the element */
    z-index: -1;
    /* Set a negative z-index to position it behind other elements */
  }
  
  #video-backgroundtwo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* Maintain video aspect ratio while covering the element */
    z-index: -1;
  }
  
  #video-backgroundThree {
    object-fit: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }
  
  #video-backgroundFour {
    object-fit: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }
  
  #video-backgroundFive {
    object-fit: cover;
    z-index: -1;
    width: 100vw;
    height: 177vh;
    transform: rotate(270deg);
  }
  
  @media screen and (max-width: 900px) {
    #video-backgroundFive {
      width: 105vw !important;
      height: 77vh !important;
    }

  }

  .goHomeTop {
    padding: 10px;
  }
  
   #goHome, #goTop {
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #918d8d;
    color: white;
   }
  
   #homehome {
    border-radius: 10px;
    padding: 10px;
    background-color: #9f9c9c;
   }
  
   #toptop {
    border-radius: 10px;
    padding: 10px;
    background-color: #9f9c9c;
   }
  
   #goHome:hover {
    background-color: #3e8544;
   }
  
   #goTop:hover {
    background-color: #3e8544;
   }