* {
    margin: 0;
}

.container {
    margin: 0;
    padding: 0;
}

.birthday-head {
    background-image: url(666g.jpg);
    min-height: 56vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    color: rgb(0, 0, 0);
    background-color: rgb(235, 245, 255);
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}

.head {
    max-width: 30.3vw;
    position: absolute;
    top: 90px;
    left: 10px;
}

@media screen and (max-width: 900px) {
    .head {
        max-width: 27vw;
        position: absolute;
        top: 80px;
        left: 1px;
    }

    #greetings p {
        font-size: 10px;
        text-align: justify;
    }
}

@media screen and (max-width: 376px) {
    .head {
        max-width: 100vw !important;
        position: absolute;
        left: 189px;
        top: 1px;
    }

    #greetings p {
        font-size: 7px;
        text-align: justify;
    }
    #songs {
        width: 15px;
        padding: 0;
    }

    #playPauseIcon {
        font-size: 10px;
        padding: 0;
    }
}

#greetings {
    padding: 0 10px;

}

#words {
    padding: 10px;
    font-size: clamp(12px, 1vw, 24px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: justify;
}

#colors {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hold {
    background-image: url(555g.jpg);
    min-height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.greetingsTwo {
    max-width: 30vw;
    position: absolute;
    top: 460px;
    right: 10px;
}

#hold {
    padding: 10px;
    font-size: clamp(12px, 1vw, 24px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: justify;
}

@media screen and (max-width: 900px) {
    .greetingsTwo {
        max-width: 25vw;
        position: absolute;
        top: 580px;
        right: 10px;
    }

    .greetingsTwo p {
        font-size: 10px !important;
        text-align: justify;
    }
}

@media screen and (max-width: 376px) {
    .greetingsTwo {
        max-width: 70vw;
        position: absolute;
        top: 370px;
        right: 5px;
    }

    #hold {
        font-size: 7px !important;
        text-align: justify;
    }
}

#pangga {
    font-weight: bold;
}

.akbay {
    background-image: url(akbay.jpg);
    min-height: 66vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.greetingsThree {
    max-width: 30vw;
    position: absolute;
    top: 950px;
    left: 10px;
}

@media screen and (max-width: 900px) {
    .greetingsThree {
        max-width: 30vw;
        position: absolute;
        top: 1100px;
        left: 10px;
    }

    .greetingsFour {
        max-width: 30vw;
        position: absolute;
        top: 1500px !important;
        right: 10px;
    }

    .greetingsFive {
        max-width: 30vw;
        position: absolute;
        top: 1800px !important;
        left: 10px;
    }

    .greetingsTwo p {
        font-size: 10px !important;
        text-align: justify;
    }
}

@media screen and (max-width: 376px) {

    table {
        margin: 2px !important;
        padding: 0;
    }

    th, td {
        font-size: 7px !important;
        padding: 5px !important;
        border-width: 3px !important;
    }
    
    .greetingsThree {
        max-width: 70vw;
        position: absolute;
        top: 668px;
        left: 1px;
    }

    .greetingsThree {
        max-width: 70vw;
        position: absolute;
        top: 668px;
        left: 1px;
    }

    #always {
        font-size: 7px !important;
    }

    .greetingsFour {
        max-width: 50vw !important;
        position: absolute;
        top: 1041px !important;
        right: 1px !important;
    }

     #alwaysTwo {
        font-size: 7px !important;
    }

    .greetingsFive {
        max-width: 50vw !important;
        position: absolute;
        top: 1150px !important;
        left: 200px !important;
    }

    .greetingsTwo p {
        font-size: 10px !important;
        text-align: justify;
    }

    #kiss {
        font-size: 7px !important;
    }

    .msg {
        font-size: 15px !important;
    }

    #forHome {
        font-size: 8px !important;
    }

    #secret {
        font-size: 8px !important;
    }

    #passwordInput {
        max-width: 100px !important;
        padding: 5px !important;
      }
      
      .modal {
        width: 100% !important;
        height: 100px;
        z-index: 1;
      }
      
      .modal-content {
        padding: 10px;
        gap: 5px;
        border-radius: 10px;
        margin: 100px auto !important;
        max-width: 350px;
        max-height: 100px;
        
      }
      
      .modal-enter {
        padding: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      
      .modal-enter p{
        color: #000;
        
      }
      
      
      .fa-xmark {
        color: #000000;
        padding: 0 0 0 100px;
      }
    
      #goHome, #goTop {
        font-size: 10px;
      }
}

#always {
    padding: 10px;
    font-size: clamp(12px, 1vw, 24px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: justify;
}

.greetingsFour {
    max-width: 30vw;
    position: absolute;
    top: 1250px;
    right: 10px;
}

#alwaysTwo {
    padding: 10px;
    font-size: clamp(12px, 1vw, 24px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: justify;
}

.handkiss {
    background-image: url(handkiss.jpg);
    min-height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.greetingsFive {
    max-width: 30vw;
    position: absolute;
    top: 1400px;
    left: 10px;
}

#kiss {
    padding: 10px;
    font-size: clamp(12px, 1vw, 24px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: justify;
}

#schedule {
    display: none;
}

#sched {
    text-decoration: none;
    color: #fff;
}

#dyul {
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 10px;
    background-color: #a19ea1;
}