* {
    margin: 0;
}

.container {
    margin: 0;
    padding: 0;
}

.birthday-head {
    background-image: url(/img/666g.jpg);
    min-height: 56vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    color: rgb(0, 0, 0);
    background-color: rgb(235, 245, 255);
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}

.head {
    max-width: 30.3vw;
    position: absolute;
    top: 90px;
    left: 10px;
}

@media screen and (max-width: 900px) {
    .head {
        max-width: 27vw;
        position: absolute;
        top: 80px;
        left: 1px;
    }

    #greetings p {
        font-size: 10px;
        text-align: justify;
    }
}

#greetings {
    padding: 0 10px;

}

#words {
    padding: 10px;
    font-size: clamp(12px, 1vw, 24px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: justify;
}

#colors {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hold {
    background-image: url(/img/555g.jpg);
    min-height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.greetingsTwo {
    max-width: 30vw;
    position: absolute;
    top: 460px;
    right: 10px;
}

#hold {
    /* font-family: 'Handjet', cursive; */
    padding: 10px;
    font-size: clamp(12px, 1vw, 24px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: justify;
}

@media screen and (max-width: 900px) {
    .greetingsTwo {
        max-width: 25vw;
        position: absolute;
        top: 580px;
        right: 10px;
    }

    .greetingsTwo p {
        font-size: 10px !important;
        text-align: justify;
    }
}

#pangga {
    font-weight: bold;
}

.akbay {
    background-image: url(/img/akbay.jpg);
    min-height: 66vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.greetingsThree {
    max-width: 30vw;
    position: absolute;
    top: 950px;
    left: 10px;
}

@media screen and (max-width: 900px) {
    .greetingsThree {
        max-width: 30vw;
        position: absolute;
        top: 1100px;
        left: 10px;
    }

    .greetingsFour {
        max-width: 30vw;
        position: absolute;
        top: 1500px !important;
        right: 10px;
    }

    .greetingsFive {
        max-width: 30vw;
        position: absolute;
        top: 1800px !important;
        left: 10px;
    }

    .greetingsTwo p {
        font-size: 10px !important;
        text-align: justify;
    }
}

#always {
    padding: 10px;
    font-size: clamp(12px, 1vw, 24px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: justify;
}

.greetingsFour {
    max-width: 30vw;
    position: absolute;
    top: 1250px;
    right: 10px;
}

#alwaysTwo {
    padding: 10px;
    font-size: clamp(12px, 1vw, 24px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: justify;
}

.handkiss {
    background-image: url(/img/handkiss.jpg);
    min-height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.greetingsFive {
    max-width: 30vw;
    position: absolute;
    top: 1400px;
    left: 10px;
}

#kiss {
    padding: 10px;
    font-size: clamp(12px, 1vw, 24px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: justify;
}