.swiperTwo {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    height: 100vh; */
  }
  
  .swiper-slideTwo {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
.sweetmsg {
    width: 50%;
}

.tre {
    color: #000;
    font-size: 20px;
}

  .msg {
    font-size: 30px;
    font-family: 'Handjet', cursive;  }
  